<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Scroll Template</title>
        <link rel="stylesheet" href="./style.css">
    </head>
    <body>
        <div id="main">
            <svg id="graphic"></svg>
            <p class="step" id="step1"> text 1</p>
            <p class="step" id="step2"> text 2</p>
            <p class="step" id="step3"> text 3</p>
        </div>
    </body>
    <script src ="https://d3js.org/d3.v6.min.js"></script> 
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/ScrollMagic.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ScrollMagic/2.0.5/plugins/animation.gsap.js"></script>

    <script src="./main.js"></script>

</html>