h1 {
  font-weight: 600;
}

h2 {
  font-size: 1.1em;
  padding-top: 1em;
  font-weight: 500;
  width: 100%;
  /* display: block; */
}

html {
  font-family: "Libre Franklin", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
  text-align: center;
  padding: 1em;
  margin: 0 auto;
  max-width: 1200px;
  font-size: 16px;
  font-weight: 400;
}

.source {
  text-decoration: none;
  color: black;
  font-size: 0.8rem;
}

svg {
  text-align: left;
  /* float: left; */
}
