html {
  font-size: 20px;
  font-family: authentic;
}

a {
  text-decoration: none;
  color: #f0f0f0;
}

body {
  background-color: #333333;
  color: #f0f0f0;
  /* font-family: garamond; */
  /* turn on for info graph vis */
  /* display: flex; */
}

.body-text {
  background-color: #606060;
  border-radius: 0.5em;
  padding: 0.5em;
  z-index: 6;
  position: relative;
}

.vis-container {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -20%);
  display: block;
  position: fixed;
  bottom: 0;
  max-width: 70%;
  max-height: 70%;
  z-index: 1;
  margin: auto;
  /* border: 1px solid white; */
}

svg {
  display: block;
  margin: auto;
  width: 700px;
  height: 500px;
  text-align: center;
}

.song-name {
  font-weight: lighter;
  font-family: monospace;
  font-size: 0.5em;
  color: #bababa;
  /* opacity: 1; */
}

.durationToolTipText,
.artistToolTipText {
  font-weight: normal;
  font-family: monospace;
  font-size: 0.46em;
  color: #111;
  /* opacity: 1; */
}

.artistToolTipText {
  font-size: 0.5em;
}

.tooltip {
  /* flex: 1; */
  width: fit-content;
  height: fit-content;
}

.tooltip-text {
  /* width: 60px; */
  color: white;
  line-height: 30%;
  font-size: 0.3rem;
}

circle {
  opacity: 1;
  border: none;
}
.space {
  height: 170px;
}

.intro-wrapper {
  margin: auto;
  position: relative;
  top: 40%;
}

.intro-text {
  color: #f0f0f0;
  font-family: monospace;
}

p {
  color: #f0f0f0;
  font-family: monospace;
  text-align: center;
}

/* .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto, auto, auto;
} */

p.intro {
  margin: 0px;
}

@keyframes its-key {
  0% {
    padding-left: 40px;
  }
  100% {
    padding-left: 0px;
  }
}

#its {
  text-align: left;
  font-size: 1.5rem;
  grid-column-start: 2;
  grid-row-start: 1;
  animation-name: its-key;
  animation-duration: 1s;
}

@keyframes charli-key {
  0% {
    color: #f0f0f0;
  }
  80% {
    color: #f0f0f0;
  }
  100% {
  }
}

#charli {
  color: #d39ad3;
  font-size: 5rem;
  font-weight: 1000;
  text-align: center;
  grid-column-start: 2;
  grid-row-start: 2;
  margin: -30px 0px -30px 0px;
  animation-name: charli-key;
  animation-duration: 0.8s;
}

@keyframes baby-key {
  0% {
    rotate: 0deg;
  }
  66% {
    rotate: 0deg;
  }
  100% {
    opacity: 1;
    rotate: -6deg;
  }
}

#baby {
  font-size: 2rem;
  grid-column-start: 2;
  grid-row-start: 3;
  text-align: right;
  font-style: italic;
  animation-name: baby-key;
  animation-duration: 1.8s;
  rotate: -6deg;
}

.byline {
  margin: 0.25rem;
}

p.smaller {
  font-size: 0.8em;
}

#break {
  height: 250px;
}

.img-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 90%;
  max-height: 70%;
  border: 0 50px 0 50px;
  margin: auto;
  margin-top: 0;
}

.dots-wrapper {
  align-items: center;
  justify-content: center;
  height: 5px;
  display: flex;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 0;
}

.gallery-dot {
  border-radius: 5px;
  border: 0.5px solid #b3b3b3;
  background-color: #181818;
}

.dots-wrapper .gallery-dot {
  flex: 1;
  height: 100%;
  margin: 1px;
}

.dots-wrapper .gallery-dot.active {
  background-color: #b3b3b3;
}

.gallery-img {
  display: flex;
  margin: 0.5rem;
  flex: 1;
  object-fit: contain;
  width: 10%;
  max-height: 100%;
  cursor: pointer;
}

.gallery-img.hidden {
  display: none;
}

.album-cover {
  display: block;
  margin: auto;
  text-align: center;
  width: 350px;
  height: 350px;
}

#charli-cover {
  opacity: 1;
  transition: opacity 0.35s;
  z-index: 3;
}

#charli-cover.fade {
  opacity: 0;
}

.nameText {
  background-color: red;
  color: bisque;
  font-size: 1.2rem;
}

#main {
  /* center content and add margins */
  max-width: 80%;
  margin: auto;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section {
  height: 100vh;
}

.shorter {
  /* height: 50vh; */
}

.text-image-section {
  display: flex;
  flex-direction: column;
}

.credits {
  font-size: 0.5em;
}

@media (orientation: landscape) {
  .intro-wrapper {
    top: 35%;
  }
}

/* tiny screen */
@media (max-width: 350px) {
  html {
    font-size: 0.8rem;
  }
  .vis-container {
    height: 350px;
    width: 350px;
  }
}

@media (max-width: 600px) {
  .vis-container {
    height: 500px;
    width: 400px;
  }
}

@media (min-width: 600px) {
  html {
    font-size: 1.5rem;
  }
  .vis-container {
    height: 400px;
    width: 400px;
  }
}
@media (max-width: 1000px) {
  .dots-wrapper {
    display: flex;
  }
}

@media (min-width: 1000px) {
  html {
    font-size: 1.5rem;
  }
  .img-wrapper {
    width: 80%;
    max-width: 1100px;
  }
  .gallery-img {
    display: block !important;
  }
  .dots-wrapper {
    display: none;
  }
  .vis-container {
    height: 500px;
    width: 700px;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 2rem;
  }
  .vis-container {
    height: 600px;
    width: 900px;
  }
}
